<div class="py-2">
    <h2 mat-dialog-title>Sesión por Caducar</h2>
    <mat-dialog-content class="mat-typography">
        <p>Su sesión finalizará en <span>{{data.seconds}} s</span></p>
        <mat-progress-bar class="w-[90%] py-2" mode="determinate" color="warn"
            [value]="data.progress"></mat-progress-bar>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button class="mx-2" mat-raised-button color="warn" mat-dialog-close (click)="onLogout()">Cerrar
            sesión</button>
        <button class="mx-2" mat-raised-button color="primary" mat-dialog-close cdkFocusInitial
            (click)="onRefreshSession()">Permanecer</button>
    </mat-dialog-actions>
</div>