<button class="m-2 mb-0 w-[100px]" mat-raised-button color="{{!isNew ? 'primary' : 'basic'}}"
    (click)="changeNew()">{{!isNew
    ? 'Nuevo' : 'Cancelar'}}</button>

<div class="p-5 flex flex-col justify-center {{isNew && 'items-center'}}">
    @if (isNew){
    <app-form class="w-full md:w-[70%]" (updateTable)="updateTable()"></app-form>
    } @else {
    <app-table [displayedColumns]="displayedColumns" [users]="users" [isDelete]="isDelete" (updateTable)="updateTable()"
        (changeDelete)="changeDelete()"></app-table>
    }
</div>