<section class="w-screen h-screen p-5 flex justify-center items-center">
    <div class="w-full md:w-1/2 lg:w-1/3 p-5 shadow-[0_0_10px_1px_black]">

        <div class="py-2 flex flex-col justify-center items-center">
            <span class="py-2">
                <mat-icon class="scale-[2]">lock</mat-icon>
            </span>
            <h1 class="text-center text-7xl">¡👋 Hola, Bienvenido!</h1>
            <p class="text-center">Ingresa tus credenciales</p>
        </div>

        <form #loginForm="ngForm" (submit)="onLogin(loginForm)" class="p-2 flex flex-col justify-center items-center">
            <mat-form-field class="w-full text-sm">
                <input class="w-full" matInput type="text" name="username" id="username" placeholder="Email" required
                    [pattern]="patterns.User.EMAIL" ngModel>
            </mat-form-field>
            <mat-form-field class="w-full text-sm">
                <input class="w-full ng-pristine" matInput type="password" name="password" id="password"
                    placeholder="Contraseña" required [pattern]="patterns.User.PASSWORD" ngModel>
            </mat-form-field>
            @if (isError) {
            <span class="py-2 text-[red] text-sm">Credenciales incorrectas, Contraseña: mínima longitud de 8 caracteres,
                debe contener números, letras, y al menos 1 de los siguientes símbolos: {{simbols}}</span>
            }
            <button class="w-full" mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
        </form>

        <mat-divider></mat-divider>

        <div class="cursor-not-allowed w-full py-2 hover:underline text-[royalblue] flex justify-end items-center">
            <p>Olvidé mi contraseña</p>
        </div>
    </div>
</section>