<div class="w-full flex justify-between items-center">
    <button class="mx-2 w-[100px]" mat-raised-button color="{{!isDelete ? 'warn' : 'basic'}}"
        (click)="onChangeDelete()">{{!isDelete ? 'Eliminar' : 'Cancelar'}}</button>
    @if (dataSource.data.length > 5){
    <mat-form-field class="w-full p-0 m-0 border-spacing-0 border-[0] ring-0 text-sm">
        <input class="w-full" #inputFilter matInput (keyup)="applyFilter(inputFilter.value)" placeholder="Filter">
    </mat-form-field>
    }
</div>

<div class="w-full text-black">
    <mat-table #table [dataSource]="dataSource" matSort matSortActive="position" matSortDisableClear
        matSortDirection="asc">

        @if (isDelete){
        <ng-container matColumnDef="actions">
            <mat-header-cell class="justify-center" *matHeaderCellDef> Acciones </mat-header-cell>
            <mat-cell class="justify-center" *matCellDef="let element">
                <button class="mx-2" mat-raised-button color="accent" (click)="onDelete(element._id)">Eliminar</button>
            </mat-cell>
        </ng-container>
        }

        <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
        <ng-container matColumnDef="position">
            <mat-header-cell *matHeaderCellDef mat-sort-header> No. </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
            <mat-cell class="capitalize" *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="last">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </mat-header-cell>
            <mat-cell class="capitalize" *matCellDef="let element"> {{element.last}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="role">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Rol </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>
</div>