<div class="w-full flex justify-center">
    <div class="w-[150px] h-[150px] flex flex-col items-center rounded-full">
        <img class="object-contain w-full h-full" *ngIf="URL" [src]="URL" id="imageViewer">
    </div>
</div>
@if (isErrorPFP) {
<div class="w-full text-center">
    <span class="w-full py-2 text-[red] text-sm">La foto de perfil es obligatoria (solo archivos
        .png)</span>
</div>
}

<form
    class="grid grid-rows-{{isErrorPassword ? 6 : 5}} md:grid-cols-2 gap-4 justify-center items-center justify-items-center"
    #userForm="ngForm" (submit)="onSave(userForm)">
    <input class="md:col-span-2 text-xs {{URL === pfpNotFound && 'w-[90px]'}}" type="file" accept=".png"
        name="profileImage" id="profileImage" placeholder="Foto de perfil" enctype="multipart/form-data"
        (change)="useImage($event)" required ngModel>

    <mat-form-field class="w-full text-sm">
        <input matInput type="text" name="firstName" id="firstName" placeholder="Nombre" required
            [pattern]="patterns.User.NAME" ngModel>
    </mat-form-field>
    <mat-form-field class="w-full text-sm">
        <input matInput type="text" name="lastName" id="lastName" placeholder="Apellido" required
            [pattern]="patterns.User.LAST" ngModel>
    </mat-form-field>
    <mat-form-field class="w-full text-sm">
        <input matInput type="text" name="email" id="email" placeholder="Email" required [pattern]="patterns.User.EMAIL"
            ngModel>
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-select class="w-full" name="role" id="role" placeholder="Rol" required ngModel>
            <ng-container *ngFor="let item of roles">
                <mat-option value="{{item.id}}">{{item.name}}</mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>
    <mat-form-field class="md:col-span-2 w-full text-sm">
        <input class="flex-1" matInput type="password" name="password" id="password" placeholder="Contraseña" required
            [pattern]="patterns.User.PASSWORD" ngModel>
    </mat-form-field>

    @if (isErrorPassword) {
    <span class="md:col-span-2 py-2 text-[darkorange] text-sm italic">Contraseña: mínima longitud de 8 caracteres, debe
        contener números, letras,
        y al menos 1 de los siguientes símbolos: {{simbols}}</span>
    }
    <span class="md:col-span-2 w-full md:w-1/3">
        <div class="w-full text-center">
            <button class="w-full p-2" mat-raised-button color="primary">Guardar</button>
        </div>
    </span>
</form>